export CURL="/usr/bin/curl --silent --cacert /Users/junedm/Downloads/rancher-desktop-ca/cacert --cert /Users/junedm/Downloads/rancher-desktop-ca/cert --key /Users/junedm/Downloads/rancher-desktop-ca/key"